<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	  <title>管理员人员添加界面 </title>
	  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
	</head>
	<body class="layui-layout-body">
		<div class="layui-container">  
		<div class="layui-header">
		</div>
		<form class="layui-form" th:action="@{/inspector/addInspector}">
			<div class="layui-form-item">
				<label class="layui-form-label">姓名</label>
				<div class="layui-input-block">
					<input type="text" name="inspectorName" required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
				</div>
			</div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">用户名</label>
		    <div class="layui-input-block">
		      <input type="text" name="inspectorAccount" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">密码</label>
		    <div class="layui-input-inline">
		      <input type="password" name="inspectorPassword" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input" value="123456">
		    </div>
		    <div class="layui-form-mid layui-word-aux">初始密码默认为123456</div>
		  </div>
			<div class="layui-form-item">
				<label class="layui-form-label">年龄</label>
				<div class="layui-input-block">
					<input type="number" name="inspectorAge" required  lay-verify="required" placeholder="请输入年龄" autocomplete="off" class="layui-input" style="width: 100px">
				</div>
			</div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">联系方式</label>
		    <div class="layui-input-block">
		      <input type="text" name="inspectorPhone" required  lay-verify="required" placeholder="请输入联系方式" autocomplete="off" class="layui-input">
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">邮箱</label>
		    <div class="layui-input-block">
		      <input type="email" name="inspectorEmail" required  lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">居住城市</label>
		    <div class="layui-input-block">
		      <select name="inspectorAddress" lay-verify="required">
		        <option value=""></option>
		        <option value="北京">北京</option>
		        <option value="上海">上海</option>
		        <option value="广州">广州</option>
		        <option value="深圳">深圳</option>
		        <option value="杭州">杭州</option>
		      </select>
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">性别</label>
		    <div class="layui-input-block">
		      <input type="radio" name="inspectorSex" value="1" title="男">
		      <input type="radio" name="inspectorSex" value="0" title="女">
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn" lay-submit lay-filter="formDemo">添加</button>
		      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		  </div>
		</form>
		</div>
	</body>
	
	
	<script th:src="@{/layui/layui.all.js}"></script>

	<script>
	//Demo
	layui.use('form', function(){
	  var form = layui.form;
	  
	  //监听提交
	  form.on('submit(formDemo)', function(data){
	  	//layer.msg(JSON.stringify(data.field));
		  var index = parent.layer.getFrameIndex(window.name);
		  parent.layer.close(index);// 关闭弹出层
		  parent.window.location.reload(); // 刷新父页面
	    return true;
	  });
	});
	
	layui.use('laydate', function(){
	  var laydate = layui.laydate;
	  
	  //执行一个laydate实例
	  laydate.render({
	    elem: '#test1' //指定元素
	  });
	});
	
	</script>
</html>
