<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>管理员人员 界面 </title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<script>
	function nofind() {
		var img = document.getElementById("headPic");
		img.src = "/upload/user/默认头像.svg";
		img.onerror = null;
	}
</script>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">管理员</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
			<img th:src="@{${user.controllerImg}}" class="layui-nav-img" id="headPic" onerror="nofind()">
			<span th:text="${user.controllerName}"/>
        </a>
        <dl class="layui-nav-child">
          <dd><a th:href="@{/controller/front/c_self}">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a th:href="@{/controller/exit}">退出登录</a></li>
    </ul>
  </div>

	<div class="layui-side layui-bg-black">
		<div class="layui-side-scroll">
			<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
			<ul class="layui-nav layui-nav-tree"  lay-filter="test">
				<li class="layui-nav-item">
					<a class="" href="javascript:;">工作人员</a>
					<dl class="layui-nav-child">
						<dd><a th:href="@{/controller/front/c_inspector}">巡检人员</a></dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a th:href="@{/controller/front/c_bridge}">桥梁</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;">预警</a>
					<dl class="layui-nav-child">
						<dd><a th:href="@{/controller/front/c_alert_history}">预警记录</a></dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;">维护</a>
					<dl class="layui-nav-child">
						<dd><a th:href="c_maintain_advice">维护建议</a></dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;">消息</a>
					<dl class="layui-nav-child">
						<dd><a th:href="@{/controller/front/c_message}">全部消息</a></dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
	  <legend>桥梁信息</legend>
	</fieldset>
	<div class="layui-fluid">
	    <div class="layui-row layui-col-space15">
	      <div class="layui-col-md8">
	        <div class="layui-row layui-col-space15"><div class="layui-col-md12">
	            <div class="layui-card">
	                      <div class="layui-card-header">
	                        基本数据
	                      </div>
	                      <div class="layui-card-body">
	                        <div class="layui-row layui-col-space10">
	                          <div class="layui-col-xs12 layui-col-sm4">
	                            <fieldset class="layui-elem-field layui-field-title">
	                              <legend>桥梁编号</legend>
	                              <div class="layui-field-box">
									  <input type="text" disabled th:value="${user}">
	                              </div>
	                            </fieldset>
	                          </div>
	                          <div class="layui-col-xs12 layui-col-sm4">
	                            <fieldset class="layui-elem-field layui-field-title">
	                              <legend>桥梁名称</legend>
	                              <div class="layui-field-box">
	                                内容区域
	                              </div>
	                            </fieldset>
	                          </div>
	                          <div class="layui-col-xs12 layui-col-sm4">
	                            <fieldset class="layui-elem-field layui-field-title">
	                              <legend>造价</legend>
	                              <div class="layui-field-box">
	                                内容区域
	                              </div>
	                            </fieldset>
	                          </div>
	                          <div class="layui-col-xs12 layui-col-sm4">
	                            <fieldset class="layui-elem-field layui-field-title">
	                              <legend>建造日期</legend>
	                              <div class="layui-field-box">
	                                内容区域
	                              </div>
	                            </fieldset>
	                          </div>
	                          <div class="layui-col-xs12 layui-col-sm4">
	                            <fieldset class="layui-elem-field layui-field-title">
	                              <legend>地理位置</legend>
	                              <div class="layui-field-box">
	                                内容区域
	                              </div>
	                            </fieldset>
	                          </div>
	                          <div class="layui-col-xs12 layui-col-sm4">
	                            <fieldset class="layui-elem-field layui-field-title">
	                              <legend>跨度与宽度</legend>
	                              <div class="layui-field-box">
	                                内容区域
	                              </div>
	                            </fieldset>
	                          </div>
	                        </div>
	                      </div>
	                    </div>
	          </div>
	          <div class="layui-col-md6">
	            <div class="layui-card">
	              <div class="layui-card-header">图片</div>
	              <div class="layui-card-body">
	                
	                <div class="layui-carousel" id="picture">
	                  <div carousel-item >
						  <div><img src="./IMG_5442.JPG"></div>
						  <div><img src="./IMG_5443.JPG"></div>
						  <div><img src="./IMG_5444.JPG"></div>
	                  </div>
	                </div>
	                
	              </div>
	            </div>
	          </div>
	          <div class="layui-col-md6">
	            <div class="layui-card">
	              <div class="layui-card-header">介绍</div>
	              <div class="layui-card-body">
	
	                <div class="layui-carousel layadmin-carousel layadmin-backlog">
	                  <div carousel-item>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
	          
	        </div>
	      </div>
	      
	      <div class="layui-col-md4">
	        <div class="layui-card">
	          <div class="layui-card-header">操作</div>
	          <div class="layui-card-body layui-text">
	            <table class="layui-table">
	              <colgroup>
	                <col width="100">
	                <col>
	              </colgroup>
	              <tbody>
	                <tr>
	                  <td>桥梁名称</td>
	                  <td>
	                    
	                  </td>
	                </tr>
	                <tr>
	                  <td>操作</td>
	                  <td style="padding-bottom: 0;">
	                    <div class="layui-btn-container">
	                      <a href=""  class="layui-btn layui-btn-danger">删除</a>
	                      <a href=""  class="layui-btn">修改</a>
	                    </div>
	                  </td>
	                </tr>
	              </tbody>
	            </table>
	          </div>
	        </div>
	        
			<div class="layui-card">
				<div class="layui-card-header">预警</div>
				<div class="layui-card-body layui-text">
					预警值设置
				  <div id="alert1" class="demo-slider"></div>
				  <br />
				  <div class="layui-btn-container">
				    <a href=""  class="layui-btn layui-btn-danger">预警</a>
				  </div>
				  
				</div>
			</div>
			<div class="layui-card">
				<div class="layui-card-header">最近一次预警结果</div>
			</div>
	      </div>
	      
	    </div>
	  </div>
	
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    中小型桥梁智能管养系统
  </div>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
layui.use('form', function(){
  var form = layui.form;
  
  //各种基于事件的操作，下面会有进一步介绍
});

layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  //执行一个laydate实例
  laydate.render({
    elem: '#test1' //指定元素
  });
});

layui.use('table', function(){
  var table = layui.table;
})

layui.use('slider', function(){
  var slider = layui.slider;
  
  //渲染
  slider.render({
    elem: '#alert1'//绑定元素
	,input: true //输入框
	,min: 0 //最小值
	,max: 100 //最大值
  });
});

</script>

<script>
layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  carousel.render({
    elem: '#picture'
    ,width: '100%' //设置容器宽度
    ,arrow: 'always' //始终显示箭头
    //,anim: 'updown' //切换动画方式
  });
});
</script>
</body>
</html>