<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	  <title>管理员人员添加 界面 </title>
	  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
	</head>
	<body class="layui-layout-body">
		<div class="layui-container">  
		<div class="layui-header">
		</div>
		<form class="layui-form" th:action="@{/task/addTask}">
		  <div class="layui-form-item">
		    <label class="layui-form-label">桥梁</label>
		    <div class="layui-input-block">
				<select name="bridgeId" lay-filter="aihao">
					<option value=""></option>
					<option th:value="${t.bridgeId}" th:each="t:${bridges}" th:text="${t.bridgeName}"></option>
				</select>
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">巡检人员</label>
		    <div class="layui-input-block">
			  <select name="inspectorId" lay-filter="aihao">
				  <option value=""></option>
				  <option th:value="${t.inspectorId}" th:each="t:${inspectors}" th:text="${t.inspectorName}"></option>
			  </select>
		  </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">巡检点</label>
		    <div class="layui-input-block">
		      <input type="text" name="taskPoint" required  lay-verify="required" placeholder="请输入巡检位置" autocomplete="off" class="layui-input">
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn" lay-submit lay-filter="formDemo">添加</button>
		      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		  </div>
		</form>
		</div>
	</body>

	<script th:src="@{/layui/layui.all.js}"></script>

	<script>
	//Demo
	layui.use('form', function(){
	  var form = layui.form;
	  
	  //监听提交
	  form.on('submit(formDemo)', function(data){
		  var index = parent.layer.getFrameIndex(window.name);
		  parent.layer.close(index);// 关闭弹出层
		  parent.window.location.reload(); // 刷新父页面
		  return true;
	  });
	});
	
	layui.use('laydate', function(){
	  var laydate = layui.laydate;
	  
	  //执行一个laydate实例
	  laydate.render({
	    elem: '#test1' //指定元素
	  });
	});
	
	</script>
</html>
