<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>巡检人员 界面 </title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<script>
  function nofind() {
    var img = document.getElementById("headPic");
    img.src = "/upload/user/默认头像.svg";
    img.onerror = null;
  }
</script>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">巡检人员</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img th:src="@{${user.inspectorImg}}" class="layui-nav-img" id="headPic" onerror="nofind()">
          <span th:text="${user.inspectorName}"/>
        </a>
        <dl class="layui-nav-child">
          <dd><a th:href="@{/inspector/front/i_self}">基本资料</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退出登录</a></li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item">
          <a href="javascript:;">巡检</a>
          <dl class="layui-nav-child">
            <dd><a th:href="@{/inspector/front/i_report}">巡检打卡</a></dd>
            <dd><a th:href="@{/inspector/front/i_report_history}">巡检记录</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a th:href="@{/inspector/front/i_bridge}">桥梁</a>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">预警</a>
          <dl class="layui-nav-child">
            <dd><a th:href="@{/inspector/front/i_alert_history}">预警记录</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">消息</a>
          <dl class="layui-nav-child">
            <dd><a href="@{/inspector/front/i_message}">全部消息</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">设置我的资料</div>
              <div class="layui-card-body" pad15>
                
                <div class="layui-form" lay-filter="">
                  <form th:action="@{/inspector/modifyInspector}" method="post">
                  <div class="layui-form-item">
                    <label class="layui-form-label">我的角色</label>
                    <div class="layui-input-inline">
                      <select name="role" lay-verify="">
                        <option value="1" disabled>管理员</option>
                        <option value="2" selected>巡检人员</option>
                      </select> 
                    </div>
                    <div class="layui-form-mid layui-word-aux">当前角色不可更改为其它角色</div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                      <input type="text" name="inspectorAccount" th:value="${user.inspectorAccount}" readonly class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">不可修改。一般用于后台登入名</div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                      <input type="text" name="inspectorName" th:value="${user.inspectorName}" lay-verify="nickname" autocomplete="off" placeholder="请输入昵称" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                      <input type="radio" name="sex" value="男" title="男" checked>
                      <input type="radio" name="sex" value="女" title="女">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">手机</label>
                    <div class="layui-input-inline">
                      <input type="text" name="inspectorPhone" th:value="${user.inspectorPhone}" lay-verify="phone" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-inline">
                      <input type="text" name="inspectorEmail" th:value="${user.inspectorEmail}" lay-verify="email" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                      <textarea name="remarks" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-input-block">
                      <input type="hidden" th:value="${user.inspectorId}" name="inspectorId">
                      <button class="layui-btn" lay-submit lay-filter="setmyinfo">确认修改</button>
                      <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                    </div>
                  </div>
                  </form>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
  
  </div>
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    中小型桥梁智能管养系统
  </div>
</div>
<script th:src="@{/layui/layui.all.js}"></script>
</body>
</html>